* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.clearfix:after {
    display:block;
    content:"";
    clear:both;
}
#form {
    border: solid 1px black;
    width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px 40px;
    background: #f7f7f9;
}
#form h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}